.flex-row {
    display: none !important;
}

.xterm-viewport {
    background-image: url("Virden_Manitoba.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.2;
}

/* Override svelete */
#console {
    left: 1em !important;
    right: 0.3em !important;
}

/* Mobile only */
@media (pointer:coarse) { 
    .xterm-viewport {
        background-image: url("Beuningen_Gelderland.jpg") !important;
    }
}